a{
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../imgs/homebg.jpg");
    background-position-x: -200px;
    background-position-y: -80px;
    background-size: auto;
    overflow-x: hidden;
    /* background-repeat: no-repeat; */
}

/* Navigation Bar */
nav *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
nav{
    width: 100Vw;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.658);
}
nav img{
    height: 80px;
    width: auto;
    margin: 5px 0 0 25px;
    align-self: center;
    
}
nav uL{
    float: right;
    margin-right: 30px;
}
nav ul li{
    display: inline-block;
    line-height: 75px;
    margin: 0 20px;
}
nav ul li a{
    position: relative;
    color: rgb(255, 227, 167);
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
}
nav ul li a::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 1.4px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: .4s ease-in-out;
}
nav ul li a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
    background-color: #c70126;
    box-shadow: 1px 1px 10px #f51f46;
}