@media screen and (max-width: 776px) {
    nav ul li a{
        font-size: 17px;
        margin-right: 0px;
    }
    nav img{
        height: 60px;
    }
}
@media screen and (max-width: 769px) {
    nav ul li a{
        font-size: 17px;
        margin-right: 0px;
    }
    nav img{
        height: 60px;
    }
}
@media screen and (max-width: 681px) {
    nav ul li a{
        font-size: 13px;
        margin-right: 0px;
    }
    nav img{
        height: 50px;
    }
}
@media screen and (max-width: 580px) {
    nav ul li a{
        font-size: 10px;
        margin-right: 0px;
    }
    nav img{
        height: 35px;
    }
}
