@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
body{
    /* background-image: url("../imgs/527ffg672.jpg"); */
    background-image: url("../imgs/527672.jpg");
    background-position-x: center;
    background-position-y: -200px;
}

*{
    box-sizing: border-box;
}
/* Music Player */
#play-music{
    width: 30px;
    position: absolute;
    right: 30px;
    top: 105px;
    animation: muPlay 10s linear 0s infinite normal forwards running;
}
@keyframes muPlay {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}

/* Gallery Slider */
.mySlides{
    /* position: relative; */
    vertical-align: middle;
    margin-top: 70px;
}
.slideshow-container{
    max-width: 60%;
    position: relative;
    margin: auto;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 17px;
    margin-top: -22px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.705);
}
.text{
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 8px;
    letter-spacing: 3px;
    opacity: .6;
}
.numbertext{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    /* transform: background .6 ease; */
}

.active, .dot:hover{
    background-color: #717171;
}

.fade{
    animation-name: fade;
    animation-duration: 1.3s;
}
@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}
@media only screen and (max-width: 750px){
    .prev, .next, .text{
        font-size: 15px;
    }
    .prev, .next{
        top: 48%;
    }
    .dot{
        height: 10px;
        width: 10px;
    }
    .numbertext{
        top: 8%;
    }
}
@media only screen and (max-width: 526px){
    .prev, .next{
        top: 60%;
    }
    .numbertext{
        top: 32%;
    }
}
@media only screen and (max-width: 526px){
.numbertext{
    top: 34%;
}
}